<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Fuel Mania</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!--
<div>
//    <label *ngIf="auth_status == 'OK'">Bem Vindo {{loggedInUser}} ao programa de coleta de consumo de combustivel</label>
//    <label *ngIf="auth_status == 'NO'">Bem Vindo. antes de iniciarmos voce precisa se cadastrar. Acesse o icone 'login' e faça seu registro </label>
</div>
-->
<h2 text-center>Intruções</h2>
<p>Use a guia "SIGNUP" para criar seu registro nesse aplicativo</p>
<p>Use a quia "LOGIN" para se registrar e ter acesso as facilidades desse aplicativo</p>
<p>Use a quia "HOME" é a página principal desse aplicativo</p>




</ion-content>
